$mainBlue: #2f5572;

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Raleway", "Oswald", sans-serif;
}

footer {
  background-color: $mainBlue;
  color: white;
}

footer {
  a {
    display: block;
    color: white;
  }
}
