.contact {
  margin-bottom: 40px;

  &__flexbox-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      max-width: 900px;
      text-align: center;
      margin-bottom: 35px;
      padding: 0 20px;
      line-height: 1.4;
      font-size: 1.2em;
    }

    div {
      width: 60%;
    }
  }
}
