.main-hero {
  position: relative;
  font-size: 0;

  &__background-image {
    display: block;

    img {
      max-height: 100vh;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: white;

    &__main-title,
    &__second-title {
      font-family: Oswald;
      font-size: 28px;
      text-shadow: 2px 2px black;
      margin-bottom: 60px;
    }

    &__main-title {
      font-size: 60px;
      margin-bottom: 20px;
    }
  }

  &__picture {
    display: block;
  }

  .btn:hover {
    background-color: $mainBlue;
  }

  @mixin atSmall {
    &__text-content__main-title {
      font-size: 36px;
    }

    &__text-content__second-title {
      font-size: 18px;
    }

    .btn {
      font-size: 18px;
      padding: 15px 38px;
    }
  }
}
