.main-hero {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;

  &__main-title,
  &__second-title {
    font-size: 1.7em;
    text-shadow: 2px 2px #000;
    margin-bottom: 2em;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  }

  &__main-title {
    font-size: 3.5em;
    margin-bottom: 16px;
  }

  a.btn:hover {
    background-color: $lightBlue;
  }

  @mixin atSmall {
    min-height: 600px;

    &__main-title {
      font-size: 2.2em;
    }

    &__second-title {
      font-size: 1.2em;
    }

    a.btn {
      padding: 15px 40px;
      font-size: 20px;
    }
  }
}
